html, body {
	height: 100%;
	margin: 0;
}
/*Header*/
.top-content img {
	width: 105px;
	height: 70px;
	float: left;
	padding-top: 15px;
	margin-left: 30px;
}

#top-title {
	width: 75%;;
	padding-top: 17px;
	padding-left: 19%;
	color: #0158A3;
	float: left;
}

#user-name, #icon-off {
	font-size: 20px;
	padding-top: 30px;
	padding-left: 100px;
	font-weight: bold;
}

#user-name {
	padding-right: 20px;
	float: left;
	color: #0158A3;
}

#icon-off {
	color: #ef4613;
}

#hr-top-content {
	height: 0px;
    border: none;
    border-top: 2px solid lightgrey;
}

/*Menu Left*/
.sidenav {
    height: 100%; 
	width: 250px;
	position: absolute;
    z-index: 1; 
    top: 77px;
    left: 0;
    background-color: #0158A3;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding:6px 8px 6px 16px;
	line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
	color: white;
	text-decoration: none;
	background-color: #004F93;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Đăng kí đề tài*/
.table {
	width: 110%;
}
.fa-minus-circle {
	color: red;
}
.fa-plus-circle {
	color: green;
}
.fa-trash-alt, .fa-redo-alt {
	margin-left: 10px;
}

/*Responsive*/
@media (max-width: 1600px) {
	#top-title {
		padding-left: 15%;
		font-size: 35px;
	}

	#user-name {
		padding-left: 10px;
	}

	.sidenav a {
		font-size: 19px;
	}
	
	.home-page, .table {
		margin-left: 100px;
	}

	.fa-plus-circle {
		margin-left: 50px;
	}
}