html, body {
	height: 100%;
	margin: 0;
}
/*Header*/
.top-content img {
	width: 105px;
	height: 70px;
	float: left;
	padding-top: 15px;
	margin-left: 30px;
}

#top-title {
	width: 75%;;
	padding-top: 17px;
	padding-left: 19%;
	color: #0158A3;
	float: left;
}

#user-name, #icon-off {
	font-size: 20px;
	padding-top: 30px;
	padding-left: 100px;
	font-weight: bold;
}

#user-name {
	padding-right: 20px;
	float: left;
	color: #0158A3;
}

#icon-off {
	color: #ef4613;
}

#hr-top-content {
	height: 0px;
    border: none;
    border-top: 2px solid lightgrey;
}

/*Menu Left*/
.sidenav {
    height: 100%; 
	width: 250px;
	position: absolute;
    z-index: 1; 
    top: 77px;
    left: 0;
    background-color: #0158A3;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding:6px 8px 6px 16px;
	line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
	color: white;
	text-decoration: none;
	background-color: #004F93;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Đăng kí đề tài*/
.fa-minus-circle {
	color: red;
}
.fa-plus-circle {
	color: green;
}

/*Kết Quả Đăng Kí*/
#btn-del-signup {
	background-color: rgb(37, 111, 248);;
	border: none;
	border-radius: 10px;
	color: white;
	height: 40px;
}
.fa-trash-alt {
	margin-left: 10px;
	color: red;
}
#btn-del-signup:hover {
	background-color: #004F93;
}


/*Responsive*/
@media (min-width: 1600px) {
	/*Header*/
	#top-title {
		padding-left: 15%;
		font-size: 35px;
	}

	#user-name {
		padding-left: 10px;
	}

	/*Menu Left*/
	.sidenav a {
		font-size: 19px;
	}
	
	.home-page, #table-signup {
		margin-left: 100px;
	}

	/*Table*/
	.fa-plus-circle {
		margin-left: 50px;
	}
}

@media (min-width: 1330px) {
	/*Header*/
	.top-content img {
		width: 92px;
		height: 60px;
	}

	#top-title {
		padding-left: 12%;
		font-size: 32px;
		width: 65%;
	}

	/*Menu Left*/
	.sidenav {
		width: 200px;
	}

	.sidenav a {
		font-size: 18px;
	}

	/*Main-contain*/
	.main-content {
		margin-left: 120px
	}
	/*
	.table-a {
		width: 110%;
	}
	.table-a th {
		font-size: 14px;

	}
	.table-a tr {
		text-align: center;
	}
	*/
}

